extends layout.pug

block content
  .row
    ul#breadcrumbs.breadcrumb.span12

  script(src="/javascripts/congo/index.js")

  script.
    Congo.BreadcrumbView = Backbone.View.extend({
      render : function() {
        $(this.el).html("<li><h3><a href=&quot;#&quot;>DATABASES</a></h3></li>");
      }
    });
    var crumbView = new Congo.BreadcrumbView({el: "#breadcrumbs"});
    crumbView.render();