extends layout.pug

block content
  #app
    .row
      .col-md-12
        ul#nav.breadcrumb(data-bind="html: navViewModel.showCrumbs")

    #details(data-bind="template: { name: detailsViewModel.view.templateName, data: detailsViewModel.view.data }")
    #editor
  
  //- ul(data-bind="template: { name: 'peopleList' }")
  //- script(type="text/html", id="peopleList")
  //-     <% _.each(people(), function(person) { %>
  //-       .li
  //-         .b(data-bind="text: person.name") is <%= person.age %> years old
  //-     <% }) %>

  script#editor-template(type = "text/backbone")
    .row
      #ace-editor.col-md-9
      #ace-editor-options.col-md-3.pull-right
        p
          button#save-document.btn.btn-primary(style="margin-right:8px") Save 
          button#delete-document.btn.btn-danger Delete

  script#collection-details-template(type="text/backbone")
    .row
      #collection-list.col-md-8
      #collection-options.col-md-3
    
  script#db-details-template(type="text/html")
    .row
      .col-md-8
        table.table.table-striped
          tbody(data-bind="template: { name: viewDetails.templateName, foreach: viewDetails.data }")
      .col-md-3
        div(data-bind="template: { name: viewOptions.templateName }")
  
  script#database-list-template(type="text/html")
    tr
      td(width=60)
        img(src="/img/database.png", style="height:24px")
      td
        h4
          a(data-bind="attr: { href: '#', 'data-db': name }, text: name, click: $parent.dbSelect")
      td
        button.btn.btn-default
          i.glyphicon.glyphicon-remove
          | delete

  script#new-db-template(type="text/html")
    form#addDb
      .form-group
        input.form-control(id="newDb", type="text")
      button.btn.btn-default(type="submit")
        i.glyphicon.glyphicon-plus-sign
        | Add Db
  
  script#document-details-template(type="text/backbone")
    .row
      .span12
        .row
          #document-list.span8
          #document-options.span3

  script#new-collection-template(type="text/backbone")
    form#addCollection
      input(id='newCollection', type="text")
      button.btn(type="submit")
        i.icon.icon-plus-sign
        | Add

  script#collection-list-template(type="text/backbone")
      td(width=60)
        img(src="/img/collections.png", style="height:24px")
      td
        h4
          a(href="#", data-collection!='<%=name%>') <%=name%>
      td
        button.btn
          i.icon.icon-remove
          | delete
  
  script(id='new-document-template', type="text/template")
    button.btn(id='addDocument')
      i.icon.icon-plus-sign
      | Add

  script(id="document-item-template", type="text/template")
    a(href="#")
      p <%=descriptor%>

  //script(src="/javascripts/congo/index.js")
  //script(src="/javascripts/congo/base.js")
  //script(src="/javascripts/congo/nav.js")
  //script(src="/javascripts/congo/database.js")
  //script(src="/javascripts/congo/collections.js")
  //script(src="/javascripts/congo/documents.js")
  script(src="/build/congo.js")
  script(src="/javascripts/ace/ace.js") 
  script(src="/javascripts/ace/mode-json.js")